@import 'tailwindcss';

@tailwind base;
@tailwind components;
@tailwind utilities;

.light-theme {
  --navbar-logo-filter: invert(0);
  --background-color: #028383;
  --background-color-2: #9f9f9f;
  --background-windows-blue: #020087;
  --background-container-header-alt: #1e2939;
  --background-window-highlight: #f8f9cf;
  --text-color-main: black;
  --text-color-secondary: ghostwhite;
  --text-color-alternate: #1e2939;
  --text-color-avatar: black;
  --input-background-color: white;
  --container-background-color: #c5c5c5;
  --button-disabled-background-color: #525252;
  --background-avatar: white;
  --background-success: #77e8a0;
  --background-yellow-warn: #d5be4c;
  --background-orange-warn: #ffb86a;
  --background-error: #ef666d;
 }

 .dark-theme {
  --navbar-logo-filter: invert(1);
  --background-color: #0e2757;
  --background-color-2: #050505;
  --background-windows-blue: #9a7da8;
  --background-container-header-alt: #525e70;
  --background-window-highlight: #028383;
  --text-color-main: ghostwhite;
  --text-color-secondary: black;
  --text-color-alternate: #a1a1a1;
  --text-color-avatar: black;
  --input-background-color: black;
  --container-background-color: #3a3a3a;
  --button-disabled-background-color: #525252;
  --background-avatar: #9a7da8;
  --background-success: #3a6f4d;
  --background-yellow-warn: #9f8e3b;
  --background-orange-warn: #876138;
  --background-error: #86393d;
 }

:root {
  font-family: monospace;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --border-light: #dfdfdf;
  --border-dark: #242424;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: #003737;
  }
}

html,body {
  height: 100%;
  min-height: 100%;
  min-width: 360px;
  > body > div#__next {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  scrollbar-width: none;
  --webkit-scrollbar {
    display: none;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: url("../assets/logo-2.png");
  background-blend-mode: hue;
  background-size: contain;
  background-position-y: 80%;
  background-color: var(--background-color);
}

@layer utilities {
  p {
    margin: 8px 0;
    font-size: 1rem;
  }

  a {
    text-decoration: underline;
  }

  h1 {
    font-size: 2.25rem;
    line-height: 1.2;
  }

  h2 {
    font-size: 2rem;
    line-height: 1.2;
  }

  h3 {
    font-size: 1.75rem;
    line-height: 1.2;
  }

  h4 {
    font-size: 1.5rem;
    line-height: 1.2;
  }

  h5 {
    font-size: 1.25rem;
    line-height: 1.2;
  }

  button {
    cursor: pointer;
    outline: none;
    &:active {
      border: 2px solid var(--border-dark);
      border-right-color: var(--border-light);
      border-bottom-color: var(--border-light);
    }
    &:disabled {
      cursor: not-allowed;
      pointer-events: none;
      background-color: var(--button-disabled-background-color);
      color: var(--border-dark);
    }
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
  }

  input::placeholder {
    font-size: 10px;
  }


  input,
  select {
    color: var(--text-color-main);
    background-color: var(--input-background-color);
    border: 2px solid var(--border-dark);
    border-right-color: var(--border-light);
    border-bottom-color: var(--border-light);
    outline: none;
    width: 100%;
    padding: 8px;
  }

  .elevation-2 {
    box-shadow:
      0px 1px 10px 0px rgba(31, 20, 37, 0.03),
      0px 12px 18px 0px rgba(31, 19, 37, 0.01),
      0px 40px 40px 0px rgba(31, 20, 37, 0.02);

    box-shadow:
      0px 1px 10px 0px color(display-p3 0.1137 0.0784 0.1412 / 0.03),
      0px 12px 18px 0px color(display-p3 0.1145 0.0767 0.1415 / 0.01),
      0px 40px 40px 0px color(display-p3 0.1137 0.0784 0.1412 / 0.02);
  }

  .container,
  button {
    display: flex;
    background-color: var(--container-background-color);
    border: 2px solid var(--border-dark);
    border-left-color: var(--border-light);
    border-top-color: var(--border-light);
    padding: 8px;
    color: var(--text-color-main);
    max-width: 600px;
  }

  .container-header {
    display: flex;
    background-color: var(--background-windows-blue);
    color: var(--text-color-secondary);
    padding-right: 6px;
    align-items: center;
    justify-content: flex-end;
    height: 20px;
    font-size: 12px;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .border-out {
    border: 2px solid var(--border-dark);
    border-left-color: var(--border-light);
    border-top-color: var(--border-light);
  }

  .border-in {
    border: 2px solid var(--border-light);
    border-bottom-color: var(--border-dark);
    border-right-color: var(--border-dark);
  }
}
