@import 'tailwindcss';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-color: #028383;
  --background-color-2: #9f9f9f;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --border-light: #dfdfdf;
  --border-dark: #242424;
  --background-windows-blue: #020087;
  --background-window-highlight: #f8f9cf;
  font-family: monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: #003737;
  }
}

html,body {
  height: 100%;
  min-height: 100%;
  min-width: 360px;
  > body > div#__next {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  scrollbar-width: none;
  --webkit-scrollbar {
    display: none;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: url("../assets/logo-2.png");
  background-blend-mode: hue;
  background-size: contain;
  background-position-y: 80%;
  background-color: var(--background-color);
}

@layer utilities {
  p {
    margin: 8px 0;
    font-size: 1rem;
  }

  a {
    text-decoration: underline;
  }

  h1 {
    font-size: 2.25rem;
    line-height: 1.2;
  }

  h2 {
    font-size: 2rem;
    line-height: 1.2;
  }

  h3 {
    font-size: 1.75rem;
    line-height: 1.2;
  }

  h4 {
    font-size: 1.5rem;
    line-height: 1.2;
  }

  h5 {
    font-size: 1.25rem;
    line-height: 1.2;
  }

  button {
    cursor: pointer;
    outline: none;
    &:active {
      border: 2px solid var(--border-dark);
      border-right-color: var(--border-light);
      border-bottom-color: var(--border-light);
    }
    &:disabled {
      cursor: not-allowed;
      pointer-events: none;
      background-color: #525252;
      color: var(--border-dark);
    }
  }

  input,
  select {
    color: black;
    background-color: white;
    border: 2px solid var(--border-dark);
    border-right-color: var(--border-light);
    border-bottom-color: var(--border-light);
    outline: none;
    width: 100%;
    padding: 8px;
  }

  .elevation-2 {
    box-shadow:
      0px 1px 10px 0px rgba(31, 20, 37, 0.03),
      0px 12px 18px 0px rgba(31, 19, 37, 0.01),
      0px 40px 40px 0px rgba(31, 20, 37, 0.02);

    box-shadow:
      0px 1px 10px 0px color(display-p3 0.1137 0.0784 0.1412 / 0.03),
      0px 12px 18px 0px color(display-p3 0.1145 0.0767 0.1415 / 0.01),
      0px 40px 40px 0px color(display-p3 0.1137 0.0784 0.1412 / 0.02);
  }

  .container,
  button {
    display: flex;
    background-color: #c5c5c5;
    border: 2px solid var(--border-dark);
    border-left-color: var(--border-light);
    border-top-color: var(--border-light);
    padding: 8px;
    color: black;
    max-width: 600px;
  }

  .container-header {
    display: flex;
    background-color: var(--background-windows-blue);
    color: ghostwhite;
    padding-right: 6px;
    align-items: center;
    justify-content: flex-end;
    height: 20px;
    font-size: 12px;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .border-out {
    border: 2px solid var(--border-dark);
    border-left-color: var(--border-light);
    border-top-color: var(--border-light);
  }
}
